@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));

  padding: 20px;
}

* {
  text-align: center;
}

ul {
  list-style: none;
  padding: 0;
}

a{
  color: black;
  text-decoration: none;
}

h1 {
  font-weight: bold;
  display: block;
  font-size: 2rem;
  margin: 10px;
}

h2 {
  font-weight: bold;
  display: block;
  font-size: 1.8rem;
  margin: 10px;
}

#buttons li {
  display: block;
  padding: 10px 12px;
  font-size: large;
  background: #ccc;
  margin: 10px;
  border-radius: 15px;
}

#buttons li:hover{
  background: #bbb;
  cursor: pointer;
}

#buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.logo {
  max-width: 300px;
  max-height: 300px;
  margin: 1rem 0.5rem;
}

.college {
  display: flex; 
  padding: 0 1rem;
}

.section {
  padding: 2rem;
  margin-bottom: 10rem;
}

.cluster {
  margin: 5px;
  border-radius: 30px;
  padding: 10px 20px;
}

.clusters {
  display: flex;
  max-width: 1000px;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 10rem;
  align-items: center;
}

.lastcluster {
  margin-bottom: 0;
}